{% load static %}

{% get_popular_posts as popular_posts %}

{% get_latest_posts as latest_posts %}
{% get_categories_total as categories %}
{% get_popular_tags as tags %}
{% get_archives as archives %}

{% if user.is_authenticated %}
    {% get_notification_count user as notifications %}
{% endif %}

{% block content %}

    <div class="col-xl-4 sidebar ftco-animate bg-opaque pt-3">
        
        <div class="sidebar-box pt-md-4">
            <form action="{% url 'blog:home' %}" method="GET" class="search-form">
                <div class="form-group">
                    <i class="icon icon-search"></i>
                    <input type="text" id="search" name="search" class="form-control" placeholder="¿Qué quieres leer?" value="{{ request.GET.search }}">
                </div>
            </form>
        </div>        

        <div class="sidebar-box ftco-animate">
            <h3 class="sidebar-heading">Populares</h3>
            
            {% for popular in popular_posts %}
            <div class="block-21 mb-4 d-flex">
                <a href="{% url 'blog:post_detail' popular.id %}" class="blog-img mr-4" style="background-image: url('{{ popular.image.url }}');"></a>
                <div class="text">
                    <h3 class="heading"><a href="{% url 'blog:post_detail' popular.id %}">{{ popular.title }}</a></h3>
                    <div class="meta">
                        <div><span class="fal fa-calendar-alt"></span> {{ popular.created_at | date:'d F Y' }}</div>
                    </div>
                    <div class="meta">
                        <div>
                            <a href="{% url 'blog:user_posts' popular.author %}">
                                <span class="far fa-user"></span> {{ popular.author }}
                            </a>
                        </div>
                        <div><span class="far fa-comments"></span> {{ popular.get_comments }}</div>
                        <div><span class="far fa-thumbs-up"></span> {{ popular.get_likes }}</div>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>

        <div class="sidebar-box ftco-animate">
            <h3 class="sidebar-heading">Categorías</h3>
            <ul class="categories">                
                {% for category in categories %}
                    <li><a href="{% url 'blog:post_by_category' category.name %}">{{ category.name }} <span>({{ category.posts_count }})</span></a></li>
                {% endfor %}
            </ul>
        </div>

        <div class="sidebar-box ftco-animate">
            <h3 class="sidebar-heading">Etiquetas</h3>
            <ul class="tagcloud">
                {% for tag in tags %}
                    <a href="{% url 'blog:post_by_tag' tag.slug %}" class="tag-cloud-link">{{ tag.name }}</a>
                {% endfor %}
            </ul>
        </div>

        <div class="sidebar-box ftco-animate">
            <h3 class="sidebar-heading">Recientes</h3>
            
            {% for latest in latest_posts %}
            <div class="block-21 mb-4 d-flex">
                <a href="{% url 'blog:post_detail' latest.id %}" class="blog-img mr-4" style="background-image: url('{{ latest.image.url }}');"></a>
                <div class="text">
                    <h3 class="heading"><a href="{% url 'blog:post_detail' latest.id %}">{{ latest.title }}</a></h3>
                    <div class="meta">
                        <div><span class="fal fa-calendar-alt"></span> {{ latest.created_at | date:'d F Y' }}</div>
                    </div>
                    <div class="meta">
                        <div>
                            <a href="{% url 'blog:user_posts' latest.author %}">
                                <span class="far fa-user"></span> {{ latest.author }}
                            </a>
                        </div>
                        <div><span class="far fa-comments"></span> {{ latest.get_comments }}</div>
                        <div><span class="far fa-thumbs-up"></span> {{ latest.get_likes }}</div>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>        

        <!-- <div class="sidebar-box subs-wrap img py-4" style="background-image: url(/static/blog/img/back.jpg);">
            <div class="overlay"></div>
            <h3 class="mb-4 sidebar-heading">Newsletter</h3>
            <p class="mb-4">Suscríbete a nuestro blog</p>
            
            <form action="#" class="subscribe-form">
                <div class="form-group">
                <input type="text" class="form-control" placeholder="Email">
                <input type="submit" value="Suscríbete" class="mt-2 btn btn-white submit">
                </div>
            </form>
        </div> -->

        <div class="sidebar-box ftco-animate">
            <h3 class="sidebar-heading">Archivos</h3>
            <ul class="categories">
                {% for archive in archives %}
                    <li><a href="{% url 'blog:post_by_date' year=archive.year month=archive.month %}">{{ archive.month | month_name}} {{ archive.year }} <span>({{ archive.total }})</span></a></li>
                {% endfor %}
            </ul>
        </div>


        <div class="sidebar-box ftco-animate">
            <h3 class="sidebar-heading">Paragraph</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus itaque, autem necessitatibus voluptate quod mollitia delectus aut.</p>
        </div>
    </div>

{% endblock content %}


{% block extra_scripts %}

    <script src="{% static 'blog/js/jquery-3.4.1.min.js' %}"></script>
    <script>
        $(document).ready(function(){
            
            const is_authenticated = JSON.parse("{{ user.is_authenticated|yesno:'true,false' }}");
            const url = "{% url 'notifications:check' %}";

            if(is_authenticated){
                check()
            }

            function check(){
                setTimeout(function () {
                    const span = $(".user-notifications")
                    const notifications = Number($(span).text())

                    fetch(url, {
                        credentials: 'include', 
                        method: 'POST', 
                        headers: {
                            "X-CSRFToken": getCookie("csrftoken"),
                            "Accept": "application/json",
                            "Content-Type": "application/json"
                        },
                        body: JSON.stringify({'notifications': notifications})      
                    }).then(
                        response => response.json()
                    ).then(function(data){
                        if(data.success){
                            if(data.update){
                                $(span).text(data.notifications)
                                const icon = $(".icon-notifications")
                                if(data.notifications){
                                    $(span).removeClass('d-none')
                                    $(icon).removeClass('icon-notifications_none')
                                    $(icon).addClass('icon-notifications_active')
                                }else{
                                    $(span).addClass('d-none')
                                    $(icon).removeClass('icon-notifications_active')
                                    $(icon).addClass('icon-notifications_none')
                                }
                            }
                            check()
                        }else{
                            console.log("NOTOK")
                        }
                    })
                }, 15000)
            }
        });
    </script>

{% endblock extra_scripts %}