{% extends "blog/base/base.html" %}

{% block content %}

    <div id="notfound">
        <div class="notfound-bg">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
        <div class="notfound">
            <div class="notfound-404">
                <h1>{{ error }}</h1>
            </div>
            <h2>{{ title }}</h2>
            <h4>{{ subtitle }}</h4>
            <p>{{ message }}</p>
            <p>{{ submessage }}</p>
            <a href="{{ url }}">{{ button }}</a>
            <!-- <div class="notfound-social">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-pinterest"></i></a>
                <a href="#"><i class="fa fa-google-plus"></i></a>
            </div> -->
        </div>
    </div>

{% endblock %}