{% extends 'blog/base/base.html' %}
{% load static %}

{% block content %}

  <section class="ftco-section contact-section px-md-4">
    <div class="container">
      <div class="row d-flex mb-5 contact-info">
          <div class="col-md-12 mb-4">
              <h2 class="h3">Notifications</h2>
          </div>
      </div>

      <div class="row">

        <table class="table table-hover">
          <tbody>
            {% for item in obj %}
              <tr>
                <td>{{ item.get_html_message | safe }} <small><i>About {{ item.created_at | timesince }}</i></small></td>
              </tr>                
            {% endfor %}            
          </tbody>
        </table>

      </div>
    </div>
  </section>

{% endblock content %}


{% block extra_scripts %}

  <script>
    $(document).ready(function(){
        
      const url = "{% url 'notifications:mark_as_read' user.id %}";
      const notification_ids = JSON.parse('{{ notification_ids }}');
      
      fetch(url, {
        credentials: 'include', 
        method: 'POST', 
        headers: {
          "X-CSRFToken": getCookie("csrftoken"),
          "Accept": "application/json",
          "Content-Type": "application/json"
        },
        body: JSON.stringify({'notification_ids': notification_ids})
      }).then(response => response.json()).then(function(data){
        if(data.success){
          console.log("OK")
        }else{
          console.log("NOTOK")
        }
      })
    
    });
  </script>

{% endblock extra_scripts %}