{% extends "blog/base/base.html" %}


{% block content %}
    <section class="ftco-section ftco-no-pt ftco-no-pb">
        <div class="container">
            <div class="row d-flex contact-info">
                <div class="col-md-12 mb-4">
                    <h2 class="h3">{{ object.active | yesno:'Deactive,Active' }} Post</h2>
                </div>
            </div>

            <div class="row d-flex">
                <div class="col-lg-10 px-md-5 py-5">

                    <form method="POST" novalidate>

                        {% csrf_token %}

                        <fieldset class="form-group">
                            <h2>Are you sure you want to {{ object.active | yesno:'deactive,active' }} the post "{{ object.title }}"?</h2>
                        </fieldset>

                        <div class="form-group">
                            <button class="btn btn-outline-danger" type="submit">Yes, {{ object.active | yesno:'deactivate,activate' }}</button>
                            <a class="btn btn-outline-success" href="{% url 'blog:post_detail' object.id %}">Cancel</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </section>

{% endblock content %}
