{% extends "blog/base/base.html" %}

{% load crispy_forms_tags %}

{% block content %}

    <section class="ftco-section ftco-no-pt ftco-no-pb">

        <div class="container">

            <div class="row d-flex">
                <div class="col-lg-8 px-md-5 py-5">
                    <div class="row pt-md-4">
                        <h1 class="mb-3">{{ post.title }}</h1>

                        <p>{{ post.content }}</p>
                        
                        <div class="tag-widget post-tag-container mb-5 mt-5">
                            <div class="tagcloud">
                                <a href="#" class="tag-cloud-link">Life</a>
                                <a href="#" class="tag-cloud-link">Sport</a>
                                <a href="#" class="tag-cloud-link">Tech</a>
                                <a href="#" class="tag-cloud-link">Travel</a>
                            </div>
                        </div>
                
                        <div class="about-author d-flex p-4 bg-light">
                            <div class="bio mr-5">
                                <img src="{{ post.author.profile.image.url }}" alt="Image placeholder" class="img-fluid mb-4">
                            </div>
                            <div class="desc">
                                <h3>{{ post.author }}</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus itaque, autem necessitatibus voluptate quod mollitia delectus aut, sunt placeat nam vero culpa sapiente consectetur similique, inventore eos fugit cupiditate numquam!</p>
                            </div>
                        </div>

                        <div class="d-none" id="replyForm">
                            <article class="media content-section mt-3 active_reply">
                                <img style="width: 100px;" class="rounded-circle comment-img" src="{{ request.user.profile.image.url }}" />
                                <div class="media-body">
                                    <form method="POST">
                                        {% csrf_token %}
                                        {{ form | crispy }}
                                        <button class="btn btn-primary mr-1 float-right" type="submit">Reply</button>
                                    </form>
                                </div>
                            </article>
                        </div>

                        <div class="pt-5 mt-5">
                            <h3 class="mb-5 font-weight-bold">{{ comments.count }} comment{{ comments.count | pluralize }}</h3>
                            <ul class="comment-list">

                                {% for item in comments.all %}
                                    {%include "blog/comment_partial.html" %}
                                {% endfor %}
                                
                            </ul>
                        
                            <div class="comment-form-wrap pt-5">
                                <h3 class="mb-5">Leave a comment</h3>

                                <form action="#" class="p-3 p-md-5 bg-light">

                                    <div class="form-group">
                                        <label for="name">Name *</label>
                                        <input type="text" class="form-control" id="name">
                                    </div>
                                    <div class="form-group">
                                        <label for="email">Email *</label>
                                        <input type="email" class="form-control" id="email">
                                    </div>
                                    <div class="form-group">
                                        <label for="website">Website</label>
                                        <input type="url" class="form-control" id="website">
                                    </div>

                                    <div class="form-group">
                                        <label for="message">Message</label>
                                        <textarea name="" id="message" cols="30" rows="10" class="form-control"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <input type="submit" value="Post Comment" class="btn py-3 px-4 btn-primary">
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                {% include "blog/base/sidebar.html" %}

            </div>
        </div>

    </section>
                
{% endblock content %}


{% block extra_scripts %}
<script>
    $(document).ready(function(){
        $(".vote_btn").click(function(e){
            e.preventDefault();

            var element =$(this);

            var like = $(element).data("like");
            var url = $(element).data("url");

            $.ajax({
                type: "POST",
                url: url,            
                data: {csrfmiddlewaretoken: "{{ csrf_token }}", 'like': like}
            })
            .done(function (response) {
                if(response.success){
                    if(like){
                        $(element).text("Like " + response.likes)
                        $(element).closest('.votes').find('.dislike').text("Dislike " + response.dislikes)                        
                    }else{
                        $(element).text("Dislike " + response.dislikes)
                        $(element).closest('.votes').find('.like').text("Like " + response.likes)
                    }
                }else{
                    message(response.msg, color)
                }
            })          
        });

        $(".reply").click(function(e){
            e.preventDefault();
            var id = $(this).data("id");
            var html = $("#replyForm").children().clone();        
            $(html).find("[name='parent_id']").val(id);
            console.log($(this).parent())
            $(this).parent().next('.reply_div').append(html);
        });

    });
</script>
{% endblock extra_scripts %}