<ul class="children">
  <li class="comment">
    <div class="vcard bio">
      {% if item.author %}
        <img src="{{ item.author.profile.image.url }}" alt="Profile">
      {% else %}
        <img src="{{MEDIA_URL}}/default.jpg" alt="Profile">
      {% endif %}
    </div>
    <div class="comment-body">
      
      {% if item.author %}
        <p>{{ item.author }}</p>
      {% else %}
        <h3>{{ item.name }} <span class="website">{{ item.website }}</span></h3>
      {% endif %}

      <div class="meta">{{ item.created_at | date:'F d, Y' }}</div>

      <p>{{ item.content}}</p>
      
      <div class="votes">
        <a href="#" class="btn vote_btn like" data-like="1" data-url="{% url 'blog:vote' item.id 'comment' %}" role="button"><i class="icon-thumbs-o-up"></i> {{ item.get_likes }}</a>
        <a href="#" class="btn vote_btn dislike" data-like="0" data-url="{% url 'blog:vote' item.id 'comment' %}" role="button"><i class="icon-thumbs-o-down"></i> {{ item.get_dislikes }}</a>
        <a href="#" class="reply" data-id="{{ item.id }}" role="button">Reply</a>
      </div> 
      <div class="reply_div"></div>
    </div>

    {%if item.replies.exists %}
      {%for reply in item.replies.all %}
        {%with item=reply template_name="blog/reply_partial.html" %}
          {%include template_name%}
        {%endwith%}
      {%endfor%}
    {%endif%}    

  </li>
</ul>