{% extends "blog/base/base.html" %}

{% load crispy_forms_tags %}

{% block content %}
    
    <section class="ftco-section ftco-no-pt ftco-no-pb">
        <div class="container">
            <div class="row d-flex contact-info">
                <div class="col-md-12 mb-4">
                    <h2 class="h3">Profile</h2>
                </div>
            </div>

            <div class="row d-flex">
                <div class="col-lg-8 px-md-5 py-5">

                    <div class="row">
                        <div class="about-author d-flex p-4 bg-light">
                            <div class="bio mr-5">
                                <img src="{{ obj.profile.image.url }}" alt="Image placeholder" class="img-fluid mb-4">
                            </div>
                            <div class="desc">
                                <h2 class="account-heading">{{ obj.username }}</h2>
                                <p class="text-secondary">{{ obj.email }}</p>
                                <p class="text-secondary">{{ obj.profile.bio }}</p>
                                {% if request.user != profile.user %}
                                    <form method="POST" action="{% url 'messenger:messenger' %}">
                                        {% csrf_token %}
                                        <input type="hidden" name="user_id" value="{{ obj.id }}" />
                                        <button class="btn btn-primary btn-sm" type="submit">
                                            <span class="icon-message"></span>
                                        </button>
                                    </form>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>

{% endblock content %}


{% block extra_scripts %}
    <script>

        (function() {

  

        }())

    </script>
{% endblock extra_scripts %}