{% extends 'blog/base/base.html' %}

{% load static %}

{% block content %}
    <div class="messenger clearfix">
        <div class="row">
            
            <div class="col-md-4 chat-container">
                <div class="people-list js-fullheight" id="people-list">
                    <!-- <div class="search d-none">
                        <input type="text" placeholder="search" />
                        <i class="fa fa-search"></i>
					</div> -->
					
					
					<div class="new-thread-container">
						<a href="#" id="new-thread">
							<span class="icon-message"></span>
						</a>
					</div>

					<div id="chat-list" class="chat-list">					
						
						{% include 'messenger/partials/thread_list.html' %}

					</div>

                </div>        
			</div>
			
			<div class="col-md-8 chat-container">
				
				<div id="background">
					<div class="img d-flex align-self-stretch align-items-center js-fullheight" style="background-image:url(/static/blog/img/bg_1.jpg);">
					</div>
				</div>

                <div id="chat" class="chat">
					<div id="chat-detail"></div>                                        
                    <div class="chat-message clearfix">
                        <textarea name="message-to-send" class="form-control mb-2" id="message-to-send" placeholder="Type your message" rows="3"></textarea>                        
                        <button id="send" class="btn btn-primary btn-sm" data-thread-id="{{ thread_id }}" disabled>Send</button>
                    </div>
                
				</div>

				<div id="new-thread-list">NEW</div>
            
            </div>

        </div>
    </div> 

{% endblock content %}


{% block extra_scripts %}

<script>
	
	(function() {

		const thread_detail_url = "{% url 'messenger:thread' %}"
		const add_message_url = "{% url 'messenger:add' %}"
		const check_updates_url = "{% url 'messenger:check-updates' %}"
		const start_thread_url = "{% url 'messenger:start_thread' %}"
		const new_thread_url = "{% url 'messenger:new_thread' %}"
		const send_btn = document.getElementById("send");
		const new_thread = document.getElementById("new-thread");
		const content_input = document.getElementById("message-to-send");
		const start_new_thread = Number("{{ new_thread }}")

		if(start_new_thread) {
			startThread(start_new_thread)
		}

		function ScrollBottomInThread(){
			const thread = document.getElementById("thread")
			thread.scrollTop = thread.scrollHeight
		}

		function addEvents() {
			var thread_btn = document.querySelectorAll(".thread-btn")

			thread_btn.forEach(element => element.addEventListener('click', event => {
				event.preventDefault()
				var element = event.target
				var thread_id = element.getAttribute('data-thread-id')
				document.getElementById('send').setAttribute('data-thread-id', thread_id)
				threadDetail(Number(thread_id))
			}))		
		}
		
		function addStartThreadEvents() {
			var start_thread_btn = document.querySelectorAll(".start-thread-btn")

			start_thread_btn.forEach(element => element.addEventListener('click', event => {
				event.preventDefault()
				var element = event.target
				var user_id = element.getAttribute('data-user-id')				
				startThread(Number(user_id))
			}))		
		}

		function threadDetail(thread_id) {
			fetch(thread_detail_url, {
				credentials: 'include',
				method: 'POST',
				headers: {
					"X-CSRFToken": getCookie("csrftoken"),
					"Accept": "application/json",
					"Content-Type": "application/json"
				},
				body: JSON.stringify({
					"thread_id": thread_id
				})
			}).then(
				response => response.json()
			).then(function(data) {
				if(data.success) {
					updateHtml("chat-detail", data.html)
					document.getElementById("chat").style.display = "block"
					document.getElementById("background").style.display = "none"
					document.getElementById("new-thread-list").style.display = "none"
					document.querySelectorAll(".active-chat").forEach(el=>el.classList.remove("active-chat"))
					if(!data.new) {
						const thread_list = document.querySelector("#thread_" + thread_id)
						thread_list.classList.add("active-chat")
					}else{
						if(data.read) {
							thread_list.classList.remove("has-notifications")
							const badges = thread_list.getElementsByClassName("messenger-notifications")
							badges[0].classList.add("d-none")
						}
						ScrollBottomInThread()
					}									
				}				
			})
		}

		function addMessage() {			
			var thread_id = document.getElementById('send').getAttribute('data-thread-id')
			var content = content_input.value

			content_input.value = ''
			send_btn.disabled = true

			fetch(add_message_url, {
				credentials: 'include',
				method: 'POST',
				headers: {
					"X-CSRFToken": getCookie("csrftoken"),
					"Accept": "application/json",
					"Content-Type": "application/json"
				},
				body: JSON.stringify({
					"thread_id": thread_id, 
					"content": content
				})
			}).then(
				response => response.json()
			).then(function(data) {
				if(data.success){
					if (data.first){
						updateList(data.html_list)
					}
					var message = document.createElement("li")					
					message.innerHTML = '<div class="message-data"><span class="message-data-name"><i class="fa fa-circle online"></i> Me</span><span class="message-data-time">' + formatDatetime(data.created_at) + '</span></div><div class="message my-message">' + decodeURIComponent(content) + '</div>'
					document.getElementById("thread-list").appendChild(message)
					document.getElementById("messages-count").innerHTML = data.total
					var thread_list = document.querySelector("#thread_" + thread_id)
					var last_message = thread_list.querySelector(".last-message")
					var last_time_message = thread_list.querySelector(".last-time-message")
					last_message.innerHTML = string_trunc(content)
					last_time_message.innerHTML = formatDate(data.created_at)
					document.getElementById("last-update").setAttribute('value', data.last_update)

					ScrollBottomInThread()
				}else{
					alert("Something weng wrong...")
				}
			})
		}

		new_thread.addEventListener("click", function() {
			fetch(new_thread_url, {
				credentials: 'include',
				method: 'POST',
				headers: {
					"X-CSRFToken": getCookie("csrftoken"),
					"Accept": "application/json",
					"Content-Type": "application/json"
				}
			}).then(
				response => response.json()
			).then(function(data) {
				if(data.success) {
					document.getElementById("chat").style.display = "none"
					document.getElementById("background").style.display = "none"
					updateHtml("new-thread-list", data.html)
					document.getElementById("new-thread-list").style.display = "block"
					addStartThreadEvents()
				} else {
					alert("Something weng wrong...")
				}
			})
		})

		send_btn.addEventListener("click", function() {
			var content = content_input.value
			if(content.length > 0){				
				addMessage()				
			}
		})

		content_input.addEventListener("keyup", function(e){            
			if(!this.checkValidity() || !this.value){
			    send_btn.disabled = true
			}else{
                send_btn.disabled = false
                if(e.keyCode==13){
                    send_btn.click()
                }
			}
		});		

		function updateHtml(selector, html) {
			const element = document.getElementById(selector)
			while(element.firstChild) {
				element.firstChild.remove()
			}
			element.innerHTML = html
		}
		
		function checkUpdates() {		
			const thread_id = document.getElementById('send').getAttribute('data-thread-id')
			const last_update = document.getElementById("last-update").value

			fetch(check_updates_url, {
				credentials: 'include',
				method: 'POST',
				headers: {
					"X-CSRFToken": getCookie("csrftoken"),
					"Accept": "application/json",
					"Content-Type": "application/json"
				},
				body: JSON.stringify({
					"thread_id": Number(thread_id), 
					"last_update": last_update
				})
			}).then(
				response => response.json()
			).then(function(data) {
				if(data.update_list){
					updateHtml("chat-list", data.html_list)
					addEvents()
				}
				if(data.update){         
					updateHtml("chat-detail", data.html)
					ScrollBottomInThread()
				}
			})            
		}

		function startThread(user_id) {			
			fetch(start_thread_url, {
				credentials: 'include',
				method: 'POST',
				headers: {
					"X-CSRFToken": getCookie("csrftoken"),
					"Accept": "application/json",
					"Content-Type": "application/json"
				},
				body: JSON.stringify({
					"user_id": user_id
				})
			}).then(response => response.json()).then(function(data){
				if(data.success) {
					if(data.new) {
						document.getElementById("last-update").setAttribute('value', data.last_update)
					}
					threadDetail(data.thread_id)
					document.getElementById('send').setAttribute('data-thread-id', data.thread_id)
				}else{
					alert("Something weng wrong...")
				}
			})
		}
		
		addEvents()
		setInterval(checkUpdates, 4000)

	})()
	
</script>

{% endblock extra_scripts %}