{% extends 'blog/base/base.html' %}

{% load static %}

{% block content %}
    <div class="messenger clearfix">
        <div class="row">
            
            <div class="col-md-4 chat-container">
                <div class="people-list js-fullheight" id="people-list">
                    <!-- <div class="search d-none">
                        <input type="text" placeholder="search" />
                        <i class="fa fa-search"></i>
					</div> -->
					
					
                    <div id="chat-list">						
						
						<div class="float-right mt-2">
							<a href="{% url 'messenger:messenger' %}">
								NEW
							</a>
						</div>
						<ul class="list">							
							<input id="last-update" type="hidden" value="{{ last_update }}" />
							{% for thread in user.threads.all %}
								{% if thread.messages.count > 0 %}
								<li id="thread_{{ thread.pk }}" class="clearfix user-thread">
									{% for thread_user in thread.users.all %}
										{% if thread_user != user %} 
											{% if thread_user.profile.image %}
												<img src="{{ thread_user.profile.image.url }}" alt="avatar" class="avatar"/>
											{% else %}
												<img src="{% static 'registration/img/no-avatar.jpg' %}" class="avatar">
											{% endif %}
											<div class="about">
												<div class="name">
													<a href="#" class="thread-btn" data-thread-id="{{ thread.pk }}">
														{{ thread_user }}
													</a>												
												</div>
												<div class="status">
													<p><span class="last-message">{{ thread.messages.last.content | string_trunc:25 }}</span></p>
													<p><small><span class="last-time-message">{{ thread.messages.last.created_at|date:'d/m/Y' }}</span></small></p>
												</div>
											</div>
										{% endif %}
									{% endfor %}
								</li> 
								{% endif %}
							{% endfor %}							
						</ul>

					</div>

                </div>        
			</div>
			
			<div class="col-md-8 chat-container">
                <div id="chat" class="chat">
					<div id="chat-detail"></div>                                        
                    <div class="chat-message clearfix">
                        <textarea name="message-to-send" class="form-control mb-2" id="message-to-send" placeholder="Type your message" rows="3"></textarea>                        
                        <button id="send" class="btn btn-primary btn-sm" data-thread-id="{{ thread_id }}" disabled>Send</button>
                    </div>
                
				</div>
				
				<div id="background">
					<div class="img d-flex align-self-stretch align-items-center js-fullheight" style="background-image:url(/static/blog/img/bg_1.jpg);">
                    </div>
				</div>
            
            </div>

        </div>
    </div> 

{% endblock content %}


{% block extra_scripts %}

<script>
	
	(function() {

		const thread_detail_url = "{% url 'messenger:thread' %}"
		const add_message_url = "{% url 'messenger:add' %}"
		const check_updates_url = "{% url 'messenger:check-updates' %}"
		const start_thread_url = "{% url 'messenger:start_thread' %}"
		const send_btn = document.getElementById("send");
		const content_input = document.getElementById("message-to-send");
		const new_thread = Number("{{ new_thread }}")

		if(new_thread) {
			startThread(new_thread)
		}

		function ScrollBottomInThread(){
			const thread = document.getElementById("thread")
			thread.scrollTop = thread.scrollHeight
		}

		function addEvents() {
			var thread_btn = document.querySelectorAll(".thread-btn")

			thread_btn.forEach(element => element.addEventListener('click', event => {
				event.preventDefault()
				var element = event.target
				var thread_id = element.getAttribute('data-thread-id')
				document.getElementById('send').setAttribute('data-thread-id', thread_id)
				threadDetail(Number(thread_id))
			}))		
		}

		function threadDetail(thread_id) {
			fetch(thread_detail_url, {
				credentials: 'include',
				method: 'POST',
				headers: {
					"X-CSRFToken": getCookie("csrftoken"),
					"Accept": "application/json",
					"Content-Type": "application/json"
				},
				body: JSON.stringify({
					"thread_id": thread_id
				})
			}).then(
				response => response.json()
			).then(function(data) {
				updateThread(data.html)
				document.getElementById("chat").style.display = "block"
				document.getElementById("background").style.display = "none"	
				document.querySelectorAll(".active-chat").forEach(el=>el.classList.remove("active-chat"))
				document.querySelector("#thread_" + thread_id).classList.add("active-chat")
				ScrollBottomInThread()
			})
		}

		function addMessage() {			
			var thread_id = document.getElementById('send').getAttribute('data-thread-id')
			var content = content_input.value

			content_input.value = ''
			send_btn.disabled = true

			fetch(add_message_url, {
				credentials: 'include',
				method: 'POST',
				headers: {
					"X-CSRFToken": getCookie("csrftoken"),
					"Accept": "application/json",
					"Content-Type": "application/json"
				},
				body: JSON.stringify({
					"thread_id": thread_id, 
					"content": content
				})
			}).then(response => response.json()).then(function(data){
				if(data.success){
					if (data.first){
						updateList(data.html_list)
					}
					var message = document.createElement("li")					
					message.innerHTML = '<div class="message-data"><span class="message-data-name"><i class="fa fa-circle online"></i> Me</span><span class="message-data-time">' + formatDatetime(data.created_at) + '</span></div><div class="message my-message">' + decodeURIComponent(content) + '</div>'
					document.getElementById("thread-list").appendChild(message)
					document.getElementById("messages-count").innerHTML = data.total
					var thread_list = document.querySelector("#thread_" + thread_id)
					var last_message = thread_list.querySelector(".last-message")
					var last_time_message = thread_list.querySelector(".last-time-message")
					last_message.innerHTML = string_trunc(content)
					last_time_message.innerHTML = formatDate(data.created_at)
					document.getElementById("last-update").setAttribute('value', data.last_update)

					ScrollBottomInThread()
				}else{
					alert("Something weng wrong...")
				}
			})
		}		

		send_btn.addEventListener("click", function(){
			var content = content_input.value
			if(content.length > 0){				
				addMessage()				
			}
		})

		content_input.addEventListener("keyup", function(e){            
			if(!this.checkValidity() || !this.value){
			    send_btn.disabled = true
			}else{
                send_btn.disabled = false
                if(e.keyCode==13){
                    send_btn.click()
                }
			}
		});		

		function updateList(html) {
			const chat_list = document.getElementById("chat-list")
			while(chat_list.firstChild) {
				chat_list.firstChild.remove()
			}
			chat_list.innerHTML = html
			addEvents()
		}

		function updateThread(html) {
			const chat_detail = document.getElementById("chat-detail")
			while(chat_detail.firstChild) {
				chat_detail.firstChild.remove()
			}
			chat_detail.innerHTML = html
			ScrollBottomInThread()
		}
		
		function checkUpdates() {		
			const thread_id = document.getElementById('send').getAttribute('data-thread-id')
			const last_update = document.getElementById("last-update").value

			fetch(check_updates_url, {
				credentials: 'include',
				method: 'POST',
				headers: {
					"X-CSRFToken": getCookie("csrftoken"),
					"Accept": "application/json",
					"Content-Type": "application/json"
				},
				body: JSON.stringify({
					"thread_id": Number(thread_id), 
					"last_update": last_update
				})
			}).then(
				response => response.json()
			).then(function(data) {
				if(data.update_list){
					updateList(data.html_list)
				}
				if(data.update){         
					updateThread(data.html)
				}
			})            
		}

		function startThread(user_id) {			
			fetch(start_thread_url, {
				credentials: 'include',
				method: 'POST',
				headers: {
					"X-CSRFToken": getCookie("csrftoken"),
					"Accept": "application/json",
					"Content-Type": "application/json"
				},
				body: JSON.stringify({
					"user_id": user_id
				})
			}).then(response => response.json()).then(function(data){
				if(data.success) {
					if(data.new) {
						document.getElementById("last-update").setAttribute('value', data.last_update)
					}
					threadDetail(data.thread_id)
					document.getElementById('send').setAttribute('data-thread-id', data.thread_id)
				}else{
					alert("Something weng wrong...")
				}
			})
		}
		
		addEvents()
		setInterval(checkUpdates, 4000)

	})()
	
</script>

{% endblock extra_scripts %}