{% extends 'blog/base/base.html' %}

{% load static %}

{% block content %}
    <div class="messenger clearfix">
        <div class="row">
            
            <div class="col-md-4">
                <div class="people-list js-fullheight" id="people-list">
                    <div class="search">
                        <input type="text" placeholder="search" />
                        <i class="fa fa-search"></i>
                    </div>

                    <ul class="list">
                        {% for thread in request.user.threads.all %}
                            {% if thread.messages.count > 0 %}
                            <li class="clearfix">
                                {% for user in thread.users.all %}
                                    {% if user != request.user %} 
                                        {% if user.profile.image %}
                                            <img src="{{ user.profile.image.url }}" alt="avatar" class="avatar"/>
                                        {% else %}
                                            <img src="{% static 'registration/img/no-avatar.jpg' %}" class="avatar">
                                        {% endif %}
                                        <div class="about">
                                            <div class="name">
                                                <a href="{% url 'messenger:detail' thread.pk %}">
                                                    {{ user }}
                                                </a>
                                            </div>
                                            <div class="status">
                                                <!-- <i class="fa fa-circle online"></i> online -->
                                                <p>{{ thread.messages.last.created_at|date:'d/m/Y' }}</p>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </li> 
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>        
            </div>

        </div>
    </div> 

{% endblock content %}