{% extends "blog/base/base.html" %}

{% block content %}
    
    <section class="ftco-section ftco-no-pb">

        <div class="row d-flex">  

            <div class="container col-xl-8 px-4">
                <div class="d-flex justify-content-between">

                    <div class="px-2">
                        {% if user.is_authenticated %}
                            <a href="{% url 'blog:post_new' %}" class="btn btn-outline-yellow btn-sm btn-block" title="Publicar">
                                <i class="fal fa-typewriter"></i>                        
                            </a>
                        {% endif %}
                    </div>

                    <div class="px-2">
                        {% if list_type == '0' %}
                            <form method="POST" novalidate>
                                {% csrf_token %}
                                <input name="list" type="hidden" value="1" />
                                <button class="btn btn-outline-yellow btn-sm btn-block" type="submit">
                                    <i class="fas fa-stream"></i>                        
                                </button>
                            </form>        
                        {% else %}
                            <form method="POST" novalidate>
                                {% csrf_token %}
                                <input name="list" type="hidden" value="0" />
                                <button class="btn btn-outline-yellow btn-sm btn-block" type="submit">
                                    <i class="far fa-list-ul"></i>                        
                                </button>
                            </form>                            
                        {% endif %}
                    </div>

                </div>

                <div class="row pt-md-4 mt-4">

                    {% if not obj.count %}
                        <h3 class="m-4 text-center">Todavía no nada que contar...</h3>                        
                    {% else %}

                        {% if list_type == '0' %}

                            {% for item in obj %}

                                {% if user.is_authenticated %}
                                    {% get_post_bookmark item user as bookmark %}
                                {% endif %}

                                <div class="col-md-12 post pr-md-5">
                                    <div class="blog-entry ftco-animate d-md-flex">
                                        <a href="{% url 'blog:post_detail' item.id %}" class="img img-2" style="background-image: url('{{ item.image.url }}');"></a>
                                        <div class="text text-2 pl-md-4">
                                            <h3 class="mb-2">
                                                <a href="{% url 'blog:post_detail' item.id %}">
                                                    {{ item.title }}
                                                </a>
                                                {% if user.is_authenticated %}
                                                    <a href="#" class="btn bookmark-btn" data-url="{% url 'blog:bookmark' item.id %}" role="button">                                
                                                        <i class="icon {% if bookmark %}icon-heart{% else %}icon-heart-o{% endif %}"></i>
                                                    </a>
                                                {% endif %}
                                            </h3>                                        
                                            <div class="meta-wrap">
                                                <p class="meta">
                                                    <span>
                                                        <i class="fal fa-calendar-alt mr-2"></i>{{ item.created_at | date:'d F Y' }}
                                                    </span>
                                                </p>
                                                <p class="meta">
                                                    <span>
                                                        <a href="{% url 'blog:user_posts' item.author %}">
                                                            <i class="far fa-user mr-2"></i>{{ item.author }}
                                                        </a>
                                                    </span>
                                                    <span>
                                                        <a href="{% url 'blog:post_by_category' item.category.name %}">
                                                            <i class="fal fa-cabinet-filing mr-2"></i>{{ item.category.name }}
                                                        </a>
                                                    </span>
                                                    <span>
                                                        <i class="far fa-comments mr-2"></i>{{ item.get_comments }}
                                                    </span>
                                                </p>
                                            </div>
                                            <p class="mb-4">{{ item.content | string_trunc | safe }}</p>
                                            <p><a href="{% url 'blog:post_detail' item.id %}" class="btn-custom">Leer <span class="ion-ios-arrow-forward"></span></a></p>
                                        </div>
                                    </div>
                                </div>

                            {% endfor %}
                            
                        {% else %}

                            {% for item in obj %}

                                {% if user.is_authenticated %}
                                    {% get_post_bookmark item user as bookmark %}
                                {% endif %}

                                <div class="col-md-12 post pr-md-5">
                                    <div class="blog-entry-2 ftco-animate">
                                        <div class="post-img-container">
                                            <a href="{% url 'blog:post_detail' item.id %}">
                                                <img src="{{ item.image.url }}" class="post-img" />
                                            </a>
                                        </div>
                                        <div class="text pt-4">
                                            <h3 class="mb-4">
                                                <a href="{% url 'blog:post_detail' item.id %}">
                                                    {{ item.title }}
                                                </a>
                                                {% if user.is_authenticated %}
                                                    <a href="#" class="btn bookmark-btn" data-url="{% url 'blog:bookmark' item.id %}" role="button">                                
                                                        <i class="icon {% if bookmark %}icon-heart{% else %}icon-heart-o{% endif %}"></i>
                                                    </a>
                                                {% endif %}
                                            </h3>         
                                            
                                            <p class="mb-4">{{ item.content | string_trunc | safe }}</p>                               

                                            <div class="author mb-4 d-flex align-items-center">
                                                <a href="{% url 'blog:user_posts' item.author %}" class="img" style="background-image: url('{{ item.author.profile.image.url }}');"></a>
                                                <div class="ml-3 info">
                                                    <a href="{% url 'blog:user_posts' item.author %}"><h3>{{ item.author }}</h3></a>
                                                    <span>{{ item.created_at | date:'d F Y' }}</span>
                                                </div>
                                            </div>
                                            <div class="meta-wrap d-md-flex align-items-center">                                                
                                                <p class="meta d-flex align-items-center">
                                                    <span><i class="far fa-eye"></i>{{ item.views }}</span>
                                                    <span><i class="far fa-thumbs-up"></i>{{ item.get_likes }}</span>
                                                    <span><i class="far fa-comments"></i>{{ item.get_comments }}</span>
                                                    <span class="read-button">
                                                        <a href="{% url 'blog:post_detail' item.id %}" class="btn btn-outline-yellow p-3 px-md-4 py-md-3">
                                                            Leer
                                                        </a>
                                                    </span>
                                                </p>                                                                                                                                                  
                                            </div>

                                        </div>
                                    </div>
                                </div>

                            {% endfor %}

                        {% endif %}

                    {% endif %}                        

                </div>

                {% include "blog/partials/pagination.html" %}

            </div>

            {% include "blog/base/sidebar.html" %}

        </div>

    </section>

{% endblock content %}

{% block extra_scripts %}
    <script>
        $(document).ready(function(){                    
            $(".bookmark-btn").click(function(e){
                e.preventDefault();

                var element =$(this);
                var url = $(element).data("url");
                var path = "{{ request.path }}"

                $.ajax({
                    type: "POST",
                    url: url,            
                    data: {csrfmiddlewaretoken: "{{ csrf_token }}"}
                })
                .done(function (response) {
                    if(response.success){
                        const icon = $(element).find("i")
                        if(response.bookmark){
                            $(icon).removeClass("icon-heart-o")
                            $(icon).addClass("icon-heart")
                        }else{
                            $(icon).removeClass("icon-heart")
                            $(icon).addClass("icon-heart-o")

                            if(path=='/bookmarks/'){
                                var post = $(element).parents('.post')
                                $(post).fadeOut()
                                console.log(post)
                            }
                        }
                    }else{
                        message(response.msg, color)
                    }
                })          
            });

        });
    </script>
{% endblock extra_scripts %}