{% extends "blog/base/base.html" %}

{% load crispy_forms_tags %}

{% block content %}
    
    <section class="ftco-section contact-section px-md-4">
        <div class="container">
            <div class="row d-flex mb-5 contact-info">
                <div class="col-md-12 mb-4">
                    <h2 class="h3">Login</h2>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-9">

                    <form method="POST" class="contact-form" novalidate>
                        {% csrf_token %}
                        <fieldset class="form-group">
                            {{ form | crispy }}
                        </fieldset>
                        <div class="form-group">
                            <button class="btn btn-outline-yellow" type="submit">Login</button>
                        </div>
                        <div class="form-group">                
                            <small class="text-muted">
                                <a href="{% url 'password_reset' %}">¿Olvidaste tu contraseña?</a>
                            </small>
                        </div>
                    </form>                    
                </div>
            </div>

            <div class="row">
                <div class="border-top pt-3">
                    <small class="text-muted">
                        ¿Todavía no tienes una cuenta? <a href="{% url 'register' %}" class="ml-2">Regístrate</a>
                    </small>
                </div>
            </div>
        </div>
    </section>

{% endblock content %}