{% extends "blog/base/base.html" %}

{% load crispy_forms_tags %}

{% block content %}
    
    <section class="ftco-section contact-section px-md-4">
        <div class="container">
            <div class="row d-flex mb-5 contact-info">
                <div class="col-md-12 mb-4">
                    <h2 class="h3">Recuperar Contraseña</h2>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-9">

                    <form method="POST" novalidate>
                        {% csrf_token %}

                        <fieldset class="form-group">
                            {{ form | crispy }}
                        </fieldset>
                        
                        <div class="form-group">
                            <button class="btn btn-outline-yellow" type="submit">Recuperar</button>
                        </div>
                    </form>

                </div>
            </div>

        </div>
    </section>

{% endblock content %}