{% extends "blog/base/base.html" %}

{% load crispy_forms_tags %}

{% block content %}
    
    <section class="ftco-section ftco-no-pt ftco-no-pb">
        <div class="container">
            <div class="row d-flex contact-info">
                <div class="col-md-12 mb-4">
                    <h2 class="h3">Perfil</h2>
                </div>
            </div>

            <div class="row d-flex">
                <div class="col-lg-10 px-md-5 py-5">

                    <div class="row">
                        <div class="about-author d-flex p-4">
                            <div class="bio mr-5">
                                <img src="{{ user.profile.image.url }}" alt="Imagen" class="mb-4 profile-image">
                            </div>
                            <div class="desc">
                                <h2 class="text-yellow">{{ user.username }}</h2>
                                <p class="text-secondary">{{ user.email }}</p>
                                <p class="text-secondary"><em>{{ user.profile.bio }}</em></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-9 d-flex">
                    <form method="POST" enctype="multipart/form-data" novalidate>

                        {% csrf_token %}

                        <fieldset class="form-group mb-5">
                            <legend class="border-bottom mb-4">Información</legend>
            
                            {{ user_form | crispy }}
            
                            {{ profile_form | crispy }}
                            
                        </fieldset>
                        
                        <div class="form-group">
                            <button class="btn btn-outline-yellow" type="submit">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </section>

{% endblock content %}


{% block extra_scripts %}

<script>

    (function(){
        const images = document.getElementsByClassName('profile-image')
        const image_input = document.getElementById('id_image')

        Array.from(images).forEach(function(element) {
            element.addEventListener('click', event => {
                image_input.click()
            })
        })

        image_input.addEventListener('change', (event) => {
            const files = image_input.files
            if (files.length) {
                images[0].src = window.URL.createObjectURL(files[0])
            }
        });
    })()

</script>

{% endblock extra_scripts %}