{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="{% static 'blog/img/icon.ico' %}">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald:700" rel="stylesheet">
	  <link href="https://fonts.googleapis.com/css?family=Lato:400" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'blog/css/bootstrap.min.css' %}">
    
    <!-- Main CSS -->
    <link rel="stylesheet" href="{% static 'blog/css/main.css' %}">

    <link rel="stylesheet" href="{% static 'blog/css/animate.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/aos.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/bootstrap-datepicker.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/ionicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/icomoon.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/jquery.timepicker.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/open-iconic-bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/owl.theme.default.min.css' %}">
	  <link rel="stylesheet" href="{% static 'blog/css/font-awesome.min.css' %}" />


    {% if title %}
        <title>Blog! - {{ title }}</title>
    {% else %}
        <title>Blog!</title>
    {% endif %}

  </head>
  <body>

    <div id="colorlib-page">

        {% include "blog/base/lateral.html" %}

        <div id="colorlib-main">

            {% block content %} {% endblock %}

        </div>

    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{% static 'blog/js/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'blog/js/jquery-migrate-3.0.1.min.js' %}"></script>
    <script src="{% static 'blog/js/popper.min.js' %}"></script>
    <script src="{% static 'blog/js/bootstrap.min.js' %}"></script>

    <script src="{% static 'blog/js/jquery.easing.1.3.js' %}"></script>
    <script src="{% static 'blog/js/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'blog/js/jquery.stellar.min.js' %}"></script>
    <script src="{% static 'blog/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'blog/js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'blog/js/aos.js' %}"></script>
    <script src="{% static 'blog/js/jquery.animateNumber.min.js' %}"></script>
    <script src="{% static 'blog/js/scrollax.min.js' %}"></script>
    <!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script> -->
    <!-- <script src="{% static 'blog/js/google-map.js' %}"></script> -->
    
    <script src="{% static 'blog/js/main.js' %}"></script>

    

    {% block control_modal %}
    <script>

      Date.shortMonths = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
      
      function formatDatetime(date) {
        var m = new Date(Date.parse(date))
        var formated = (Date.shortMonths[m.getMonth()]) + ". " +
          ("0" + m.getUTCDate()).slice(-2) + ", " +                
          (m.getUTCFullYear()) + ", " +
          ("0" + m.getUTCHours()).slice(-2) + ":" +
          ("0" + m.getUTCMinutes()).slice(-2)
        
        return formated
      }

      function formatDate(date) {
        var m = new Date(Date.parse(date))
        var formated = ("0" + m.getUTCDate()).slice(-2) + "/" +   
          ("0" + m.getMonth()).slice(-2) + "/" +             
          (m.getUTCFullYear())        
        return formated
      }

      function string_trunc(content, length=100, suffix="...") {    
        if(content.length > length){
          var trimmedString = content.substr(0, length)
          content = trimmedString.substr(0, Math.min(trimmedString.length, trimmedString.lastIndexOf(" "))) + "..."
        }
        return content
      }

      function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
      }

      function message(msg, type='green'){
        $.alert({
          title: '',
          theme: 'material',
          type: type,
          content: msg
        });
      }
      
    </script>
    {% endblock control_modal %}

    {% block extra_scripts %}{% endblock extra_scripts %}
  </body>
</html>